h1 {
    font-family: "Blippo",fantasy;
    font-size: 500%;
    font-weight: bold;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
    font-weight: bold;
}
.nav{
    background-color: #808080;
    overflow: hidden;
    height: 1.25%;
    width: 100%;
    margin: 0%;
    justify-content: center;
}
.nav a{
    float: right;
    text-align: center;
    width:43.5%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 100%;
}
.nav img{
    float: right;
    width: 13%;
    height:auto;
}
.nav a.active{
    background-color: black;
    color: white;
}
.nav a:hover{
    background-color: #d3d3d3;
    color: black;
}

.other {
    text-align: center;
}
input.entry{
    text-align: center;
    padding: 0.75% 15% ;
    font-family: 'Courier New', Courier, monospace;
    margin: 2%;
}
p.regLink{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
input.submit{
    border: none;
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 100%;
    padding: 1% 1%;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 45%;
    justify-content: center;
    float: right;
}
table.emp{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 5%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
tr.head{
    background-color: #c0c0c0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
tr.body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

th, td{
    border: 1px solid black;
    width: 50%;
}
.efileInfo{
    text-align: left;
    float: left;
    padding: auto;
    margin:auto;
}
p.efileInfo{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
}
.efileTrain{
    float: right;
    overflow: left;
}
.efileTrain table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 250%;
    margin: auto;
    float: right;
}
table.avail{
    width: 50%;
    margin: auto;
    padding: auto;
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
}
.avail{
    text-align: center;
    width: 100%;
    position: absolute;
    justify-content: center;
}