{% extends "base.html" %} {% block title %}Floor Plan{% endblock %}

{% block content %}
    <div class="nav">
        <img src="../static/images/Logo.png" alt="Logo">
        <a href="/employeelist">Employees</a>
        <a href="/weekscalendar">Calendar</a>
    </div>
    <div class="dates">
        <form method="POST">
        <button class="arrowButtons" name="previous" value="previous" formmethod="POST">
            <img class="arrows" src="../static/images/arrowLeft.png" alt="Previous" width="120" height="40">
        </button>
        <h3>{% print(day[0]|string+"/"+day[1]|string+"/"+day[2]|string) %}</h3>
        <button class="arrowButtons" name="next" value="next" formmethod="POST">
            <img class="arrows" src="../static/images/arrowRight.png" alt="Next" width="120" height="40">
        </button>
        </form>
    </div>
    <div class="row">
        {% for i in range(employees|length) %}
            <table class="hours">
                <tr class="head">
                    <th colspan="2">{% print(employees[i][0]) %}</th>
                </tr>
                <tr class="body">
                    <td>Crew Member</td>
                    <td>Shift Hours</td>
                </tr>
                <tr class="body">
                    <td>{% print(employees[i][1]) %}</td>
                    <td>{% print(employees[i][2]) %}</td>
                </tr>
            </table>
        {% endfor %}
        <form method="POST">
        <table class="hours">
            <tr class="head">
                <th colspan="2"><input class="addRole" type="text" name="role"></th>
            </tr>
            <tr class="body">
                <td>Crew Member</td>
                <td>Shift Hours</td>
            </tr>
            <tr class="body">
                <td><input class="addName" type="text" name="name"></td>
                <td><input class="addName" type="text" name="hours"></td>
            </tr>
        </table>
        <input class="submit" type="submit" value="Add Role">
        </form>
   </div>
{% endblock %}