<!DOCTYPE html>
<html>
    <head>
        <title>Floor Plan</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <div class="nav">
            <img src="../static/images/Logo.png" alt="Logo">
            <a href="elist.html">Employees</a>
            <a href="calendar.html">Calendar</a>
        </div>
        <div class="dates">
            <input type="image" class="arrow" src="../static/images/arrowLeft.png" alt="Previous" width="120" height="40">
            <h3>2/1/23</h3>
            <input type="image" class="arrow" src="../static/images/arrowRight.png" alt="Next" width="120" height="40">
        </div>
        <div class="row">
            <table class="hours" contenteditable="true">
                <tr class="head">
                    <th colspan="2">Floor Manager</th>
                </tr>
                <tr class="body">
                    <td>Crew Member</td>
                    <td>Shift Hours</td>
                </tr>
                <tr class="body">
                    <td>Angela Hughes</td>
                    <td>8:00-17:00</td>
                </tr>
            </table>
            <table class="hours" contenteditable="true">
                <tr class="head">
                    <th colspan="2">Crew Member</th>
                </tr>
                <tr class="body">
                    <td>Crew Member</td>
                    <td>Shift Hours</td>
                </tr>
                <tr class="body">
                    <td>Mohammed Carroll</td>
                    <td>8:30-17:00</td>
                </tr>
            </table>
            <a href="fplanTable.html">
                <br><br><input class="addFP" type="submit" value="+">
            </a>
        </div>
    </body>
</html>