{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
    <div class="nav">
        <img src="../static/images/Logo.png" alt="Logo">
    </div>
    <div class="other">
    <h1>Welcome to<br>R0S5</h1>
    </div>
    <div class="other">
        <form method="POST">
            <input class="entry" type="email" placeholder="Email" name="email"><br>
            <input class="entry" type="password" placeholder="Password" name="password"><br>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <p class="reject">{% print(message) %}</p><br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input class="submit" type="submit" value="Submit">
        </form>
    </div>
    <div class="other">
        <p class="regLink">If you don't have an account register <a href="/register">here</a></p>
    </div>
{% endblock %}
