{% extends "base.html" %} {% block title %}Week Planner{% endblock %}

{% block content %}
    <div class="nav">
        <img src="../static/images/Logo.png" alt="Logo">
        <a href="/employeelist">Employees</a>
        <a href="/weekscalendar">Calendar</a>
    </div>
    <div class="dates">
        <form method="POST">
        <button class="arrowButtons" name="previous" value="previous" formmethod="POST">
            <img class="arrows" src="../static/images/arrowLeft.png" alt="Previous" width="120" height="40">
        </button>
        <h3>{% print(days[0][0]|string+"/"+days[0][1]|string+"/"+days[0][2]|string+"-"+days[6][0]|string+"/"+days[6][1]|string+"/"+days[6][2]|string) %}</h3>
        <button class="arrowButtons" name="next" value="next" formmethod="POST">
            <img class="arrows" src="../static/images/arrowRight.png" alt="Next" width="120" height="40">
        </button>
        </form>
    </div>
    <div class="empoverlay">
        <form method="POST">
            <input class="overlay" type="submit" name="overlay" id="overlay" value="Employees">
        </form>
    </div>
    <div class="weekplan">
        <table class="weeks">
            <tr class="head">
                <form method="POST">
                    <th><input class="weekDirect" id="dayPlan" type="submit" name="dayPlan" value="Mon"></th>
                    <th><input class="weekDirect" id="dayPlan" type="submit" name="dayPlan" value="Tues"></th>
                    <th><input class="weekDirect" id="dayPlan" type="submit" name="dayPlan" value="Wed"></th>
                    <th><input class="weekDirect" id="dayPlan" type="submit" name="dayPlan" value="Thurs"></th>
                </form>
            </tr>
            <tr class="emplist" contenteditable="true">
                {% for i in range(4) %}
                <td class="emplist">{% for j in range(employees[i] | length) %} {% print(employees[i][j]) %}<br> {% endfor %}</td>
                {% endfor %}
            </tr>
        </table>
        <table class="second">
            <tr class="head">
                <form method="POST"></form>
                    <th><input class="weekDirect" id="dayPlan" type="submit" name="dayPlan" value="Fri"></th>
                    <th><input class="weekDirect" id="dayPlan" type="submit" name="dayPlan" value="Sat"></th>
                    <th><input class="weekDirect" id="dayPlan" type="submit" name="dayPlan" value="Sun"></th>
                </form>
            </tr>
            <tr class="emplist"contenteditable="true">
                {% for k in range(4,7) %}
                <td class="emplist">{% for l in range(employees[k] | length) %} {% print(employees[k][l]) %}<br> {% endfor %}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div class="calc">
        <p class="error">{% if issue!=None %}{% print(issue) %}{% endif %}</p>
        <p class="calculate">Labour Cost: £{% print(cost) %}<br><br>Hours Worked Total: {% print(hours) %}</p>
    </div>
{% endblock %}